TransactionManager/TransactionManagerAPIM/src/main/resources/jaxws/XA.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:tns="http://pt.isel.meic.iesd.tm.xa" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pt.isel.meic.iesd.tm.xa">
<types>
<xsd:schema>
<xsd:import namespace="http://pt.isel.meic.iesd.tm.xa" schemaLocation="XA.xsd"/>
</xsd:schema>
</types>
<message name="commit">
<part name="parameters" element="tns:commit"/>
</message>
<message name="commitResponse">
<part name="parameters" element="tns:commitResponse"/>
</message>
<message name="prepare">
<part name="parameters" element="tns:prepare"/>
</message>
<message name="prepareResponse">
<part name="parameters" element="tns:prepareResponse"/>
</message>
<message name="rollback">
<part name="parameters" element="tns:rollback"/>
</message>
<message name="rollbackResponse">
<part name="parameters" element="tns:rollbackResponse"/>
</message>
<portType name="IXA">
<operation name="commit">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://pt.isel.meic.iesd.tm.xa/IXA/commitRequest" message="tns:commit"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://pt.isel.meic.iesd.tm.xa/IXA/commitResponse" message="tns:commitResponse"/>
</operation>
<operation name="prepare">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://pt.isel.meic.iesd.tm.xa/IXA/prepareRequest" message="tns:prepare"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://pt.isel.meic.iesd.tm.xa/IXA/prepareResponse" message="tns:prepareResponse"/>
</operation>
<operation name="rollback">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://pt.isel.meic.iesd.tm.xa/IXA/rollbackRequest" message="tns:rollback"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://pt.isel.meic.iesd.tm.xa/IXA/rollbackResponse" message="tns:rollbackResponse"/>
</operation>
</portType>
</definitions>