TwoPhaseLockManager/TwoPhaseLockManagerAPIM/src/main/resources/jaxws/RNMTPLM.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:tns="http://pt.isel.meic.iesd.rnmtplm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pt.isel.meic.iesd.rnmtplm">
<types>
<xsd:schema>
<xsd:import namespace="http://pt.isel.meic.iesd.rnmtplm" schemaLocation="RNMTPLM.xsd"/>
</xsd:schema>
</types>
<message name="getLocksHeld">
<part name="parameters" element="tns:getLocksHeld"/>
</message>
<message name="getLocksHeldResponse">
<part name="parameters" element="tns:getLocksHeldResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="addPendingRequest">
<part name="parameters" element="tns:addPendingRequest"/>
</message>
<message name="addPendingRequestResponse">
<part name="parameters" element="tns:addPendingRequestResponse"/>
</message>
<message name="getPendingRequest">
<part name="parameters" element="tns:getPendingRequest"/>
</message>
<message name="getPendingRequestResponse">
<part name="parameters" element="tns:getPendingRequestResponse"/>
</message>
<message name="clearLocksHeld">
<part name="parameters" element="tns:clearLocksHeld"/>
</message>
<message name="clearLocksHeldResponse">
<part name="parameters" element="tns:clearLocksHeldResponse"/>
</message>
<message name="addLockHeld">
<part name="parameters" element="tns:addLockHeld"/>
</message>
<message name="addLockHeldResponse">
<part name="parameters" element="tns:addLockHeldResponse"/>
</message>
<message name="checkRmStatus">
<part name="parameters" element="tns:checkRmStatus"/>
</message>
<message name="checkRmStatusResponse">
<part name="parameters" element="tns:checkRmStatusResponse"/>
</message>
<message name="clearHolder">
<part name="parameters" element="tns:clearHolder"/>
</message>
<message name="clearHolderResponse">
<part name="parameters" element="tns:clearHolderResponse"/>
</message>
<message name="removePendingRequest">
<part name="parameters" element="tns:removePendingRequest"/>
</message>
<message name="removePendingRequestResponse">
<part name="parameters" element="tns:removePendingRequestResponse"/>
</message>
<message name="getPendingTransactions">
<part name="parameters" element="tns:getPendingTransactions"/>
</message>
<message name="getPendingTransactionsResponse">
<part name="parameters" element="tns:getPendingTransactionsResponse"/>
</message>
<message name="getHolder">
<part name="parameters" element="tns:getHolder"/>
</message>
<message name="getHolderResponse">
<part name="parameters" element="tns:getHolderResponse"/>
</message>
<message name="setHolder">
<part name="parameters" element="tns:setHolder"/>
</message>
<message name="setHolderResponse">
<part name="parameters" element="tns:setHolderResponse"/>
</message>
<portType name="IReliableNodeManagerTPLM">
<operation name="getLocksHeld">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/getLocksHeldRequest" message="tns:getLocksHeld"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/getLocksHeldResponse" message="tns:getLocksHeldResponse"/>
<fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns3:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/getLocksHeld/Fault/Exception"/>
</operation>
<operation name="addPendingRequest">
<input xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/addPendingRequestRequest" message="tns:addPendingRequest"/>
<output xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/addPendingRequestResponse" message="tns:addPendingRequestResponse"/>
<fault xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns6:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/addPendingRequest/Fault/Exception"/>
</operation>
<operation name="getPendingRequest">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/getPendingRequestRequest" message="tns:getPendingRequest"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/getPendingRequestResponse" message="tns:getPendingRequestResponse"/>
</operation>
<operation name="clearLocksHeld">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/clearLocksHeldRequest" message="tns:clearLocksHeld"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/clearLocksHeldResponse" message="tns:clearLocksHeldResponse"/>
<fault xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns11:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/clearLocksHeld/Fault/Exception"/>
</operation>
<operation name="addLockHeld">
<input xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/addLockHeldRequest" message="tns:addLockHeld"/>
<output xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/addLockHeldResponse" message="tns:addLockHeldResponse"/>
<fault xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns14:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/addLockHeld/Fault/Exception"/>
</operation>
<operation name="checkRmStatus">
<input xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/checkRmStatusRequest" message="tns:checkRmStatus"/>
<output xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/checkRmStatusResponse" message="tns:checkRmStatusResponse"/>
</operation>
<operation name="clearHolder">
<input xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/clearHolderRequest" message="tns:clearHolder"/>
<output xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/clearHolderResponse" message="tns:clearHolderResponse"/>
<fault xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns19:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/clearHolder/Fault/Exception"/>
</operation>
<operation name="removePendingRequest">
<input xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/removePendingRequestRequest" message="tns:removePendingRequest"/>
<output xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" ns21:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/removePendingRequestResponse" message="tns:removePendingRequestResponse"/>
<fault xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns22:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/removePendingRequest/Fault/Exception"/>
</operation>
<operation name="getPendingTransactions">
<input xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" ns23:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/getPendingTransactionsRequest" message="tns:getPendingTransactions"/>
<output xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" ns24:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/getPendingTransactionsResponse" message="tns:getPendingTransactionsResponse"/>
</operation>
<operation name="getHolder">
<input xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" ns25:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/getHolderRequest" message="tns:getHolder"/>
<output xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" ns26:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/getHolderResponse" message="tns:getHolderResponse"/>
<fault xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns27:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/getHolder/Fault/Exception"/>
</operation>
<operation name="setHolder">
<input xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata" ns28:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/setHolderRequest" message="tns:setHolder"/>
<output xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata" ns29:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/setHolderResponse" message="tns:setHolderResponse"/>
<fault xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns30:Action="http://pt.isel.meic.iesd.rnmtplm/IReliableNodeManagerTPLM/setHolder/Fault/Exception"/>
</operation>
</portType>
</definitions>